/* Resetear estilos de margen y padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Estilos generales para el cuerpo del documento */
  html, body {
    height: 100%;
  }
  
  body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    line-height: 1.6;
    color: #333; /* Color de texto predeterminado */
    background-color: #f4f4f4; /* Color de fondo general */
  }
  
  /* Estilos para encabezados */
  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.5rem;
    color: #333;
  }
  
  /* Estilo para párrafos */
  p {
    margin-bottom: 1rem;
    color: #333;
    font-size: 1.2rem;

  }
  
  .custom-snackbar {
    font-size: 20px; /* Tamaño de fuente más grande */
    height: 60px; /* Altura más grande */
  }
  
  

  

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


